// В этом файле должны быть стили для БЭМ-блока offers, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.offers {

  $block-name: &; // #{$block-name}__element

  padding-top: 0;

  &__row {
    display: flex;
    flex-wrap: wrap
  }

  &__card {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 37px;
    flex-basis: 100%;

    @media (min-width: $screen-md) {
      padding: 56px 80px;
    }
    @media (min-width: $screen-xl) {
      flex-basis: 33.333%;
      padding: 56px 45px;
    }
    @media (min-width: $screen-xxl) {
      padding: 70px;
      padding: 56px 80px;
    }

    &.red {
      color: #fff;
      background-color: $color-main;
    }

    &.white {
      background-color: #fff;
    }

    &.blue {
      color: #fff;
      background-color: $color-accent;
    }
  }

  &__card-heade {

    margin-bottom: 40px;
    min-height: 144px;

    h3 {
      margin: 0;

      @media (max-width: ($screen-md - 1)) {
        font-size: 28px;
        line-height: 1.4;
      }
    }

    @media (max-width: ($screen-xl - 1)) {
      min-height: auto;
    }
  }

  &__card-body {
    min-height: 220px;
    margin-bottom: 30px;
    flex-grow: 1;

    p {
      margin: 0;
      font-size: 20px;
      line-height: 30px;

      @media (max-width: ($screen-sm - 1)) {
        font-size: 16px;
      }
    }

    @media (max-width: ($screen-xl - 1)) {
      min-height: auto;
    }
  }

  &__card-action {}

  @media (max-width: ($screen-xxl - 1)) {
    padding-bottom: 40px;
  }
}
