// В этом файле должны быть стили для БЭМ-блока feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback {

  $block-name: &; // #{$block-name}__element

  padding-bottom: 40px !important;

  &__card {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-xl) {
      flex-wrap: nowrap;
    }
  }

  &__info {
    background: #E7EFF8;
    padding: 40px 30px 40px 30px;

    h2 {
      margin-top: 0;

      @media (min-width: $screen-md) {
        font-size: 60px;
        text-align: left;
      }
    }

    p {
      font-size: 20px;
      line-height: 33px;
      margin-bottom: 20px;

      @media (min-width: $screen-md) {
        max-width: 350px;
        margin-bottom: 20px;
      }
    }

    @media (min-width: $screen-md) {
      flex-basis: 100%;
    }
    @media (min-width: $screen-xxl) {
      flex-basis: 565px;
      flex-shrink: 0;
      padding: 80px 40px 40px 75px;
    }
  }

  &__garant {
    font-size: 16px;
    line-height: 24px;
    font-family: $font-family--headings;
    position: relative;
    padding-left: 45px;
    max-width: 290px;
    text-align: left;

    .icon {
      position: absolute;
      left: 0;
      top: 5px;
    }

    @media (min-width: $screen-md) {
      max-width: 350px;
    }

    @media (max-width: ($screen-md - 1)) {
      font-size: 12px;
      line-height: 1.6;
      padding-left: 36px;

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__form {
    flex-grow: 1;
    background: #fff;
    padding: 35px 36px;
    @media (min-width: $screen-md) {
      padding: 90px 75px;
    }

    p {
      margin: 0;
      color: #7E91AB;
      font-size: 14px;
      line-height: 18px;
    }

  }

  &__form-row {
    @include row;

    .action-btn {
      order: 1;
      margin-bottom: 20px;
    }
    .action-text {
      order: 2;
    }

    @media (min-width: $screen-md) {
      max-width: 370px;
      margin: auto;
    }
    @media (min-width: $screen-lg) {
      max-width: inherit;
      margin: inherit;
    }
  }

  &__form-col {
    @include col();
    @include col(xxl, 6);
  }

  @media (max-width: ($screen-lg - 1)) {
    padding-bottom: 40px;
  }
}
