// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {

  $block-name: &; // #{$block-name}__element

  background: #fff;
  padding-top: 75px;
  padding-bottom: 0;

  &__carousel {}

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__caption {
    flex-basis: 50%;
    padding-right: 95px;

    h2 {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .btn {
      margin-bottom: 30px;
    }

    p {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 100%;
      // text-align: center;
      padding-right: 0;
      order: 2;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  }

  &__image {
    flex-basis: 50%;
    background: #F4F7FA;
    padding: 55px 55px 0 55px;

    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 100%;
      padding: 17px 17px 0 17px;
      order: 1;
      margin: 0 15px;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    padding: 40px 0;
  }
}
