// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;

  &__inner {
    position: relative;
    @include container;
    padding: 0 20px;

    @media (min-width: $screen-md) {
      padding: 0 46px;
    }
    @media (min-width: $screen-lg) {
      padding: 0 15px;
    }

    display: flex;
    height: 80px;

    @media (max-width: ($screen-md - 1)) {
      height: 50px;
    }
  }

  &__logo {
    margin-right: auto;
    align-self: center;
  }
}
