// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.9841em;
$field-padding-horizontal:    3.75em;

$border-radius:               5px;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;
  // border-radius: $border-radius;
  border-radius: 0;
  border: 2px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;
  transition: $transition-time;
  position: relative;

  // @media (max-width: ($screen-lg - 1)) {
  //   font-size: 16px;
  //   width: 100%;
  // }
  @media (max-width: ($screen-sm - 1)) {
    font-size: 12px;
    width: 100%;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 24px;
  }

  &--block {
    width: 100%;
  }

  &--call {
    background-color: $color-main;
    border: none;
    color: #fff;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #EB4949;
    }

    #{$block-name}__text {
      margin-right: 40px;
    }
    .icon-call {
      display: none
    }

    @media (max-width: ($screen-md - 1)) {
      height: 50px;
      width: 65px;

      .icon-click {
        display: none;
      }
      .icon-call {
        display: block;
      }
      #{$block-name}__text {
        display: none;
      }
    }
    @media (min-width: $screen-md) {
      width: 300px;
    }
  }

  &--main {
    border: 2px solid $color-main;
    background-color: $color-main;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 10%);
      border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &--white-outline {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 0;

    &:hover,
    &:focus {
      color: $text-color;
      background-color: #fff;
      border-color: #fff;
    }
  }

  &--blue-outline {
    border: 2px solid #0077E5;
    background-color: transparent;
    color: #0077E5;
    border-radius: 0;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #EB4949;
      border-color: #EB4949;
    }
  }
}
