// В этом файле должны быть стили для БЭМ-блока additional, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.additional {

  $block-name: &; // #{$block-name}__element

  padding-top: 0;

  &__row {
    @include row;

    @media (max-width: ($screen-lg - 1)) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__card {

    @include col();
    @include col(xl, 4);
    padding: 35px 30px !important;
    text-align: center;

    &__head {
      margin-bottom: 25px;

      h3 {
        margin: 0;

        @media (max-width: ($screen-md - 1)) {
          font-size: 18px;
        }
      }
    }

    &__body {

      p {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
      }
    }

    @media (max-width: ($screen-md - 1)) {

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    &.blue {
      background: #0077E6;
      color: #fff;
    }

    &.dark {
      background: #28303C;
      color: #fff;
    }

    &.white {
      background: #fff;
    }

    @media (min-width: $screen-md) {
      padding: 85px 80px !important;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    padding-bottom: 40px;
  }
}
