// В этом файле должны быть стили для БЭМ-блока additional, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.additional {

  $block-name: &; // #{$block-name}__element

  padding-top: 0;

  &__row {
    @include row;
  }

  &__card {

    @include col();
    @include col(md, 4);
    padding: 85px 80px !important;

    &__head {
      margin-bottom: 25px;

      h3 {
        margin: 0;
      }
    }

    &__body {

      p {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
      }
    }

    &.blue {
      background: #0077E6;
      color: #fff;
    }

    &.dark {
      background: #28303C;
      color: #fff;
    }

    &.white {
      background: #fff;
    }
  }
}
