// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name: &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 3);
  }

  &__logo {
    background: #fff;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 55px;
    }
  }
}
