// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $line-height;
  margin-bottom: $line-height;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    cursor: pointer;

    .no-js & {
      display: none;
    }

    &:after {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: $border-color;
    }
  }

  &__link-wrap {
    position: relative;
    border: 1px solid $border-color;

    &:not(:last-child) {
      border-right: none;
    }

    &--active {

      #{$block-name}__link {
        color: $text-color;
        background-color: #fff;
      }
    }
  }

  &__link {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    color: $text-color--muted;
    text-decoration: none;
    background-color: $gray-lightest;

    &:hover,
    &:focus {
      color: $text-color--muted;
    }
  }

  &__content-wrapper {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    border: 1px solid $border-color;
    border-top: none;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &--stage {
    @include row;

    .stage-num {
      width: 55px;
      height: 55px;
      background: #fff;
      color: #9AB0C7;
      font-size: 20px;
      line-height: 55px;
      border: 1px solid #D1E2F2;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
    }

    #{$block-name}__links {
      @include col();
      @include col(lg, 5);
      padding-right: 0 !important;
    }
    #{$block-name}__content-wrapper {
      @include col();
      @include col(lg, 7);
      background: #fff;
      padding: 40px 100px 0 140px !important;
      border: none;
    }

    #{$block-name}__link-wrap {
      // position: relative;

      &--active {

        .stage-num {
          background: #0077E6;
          border-color: #0077E6;
          color: #fff;
        }
        #{$block-name}__link {
          color: #28303B;
        }
      }
    }

    #{$block-name}__links {
      flex-direction: column;
      align-items: stretch;
    }

    #{$block-name}__link-wrap {
      border: none;
      background: #E7EFF8;
      &:first-child {
        padding-top: 40px;
      }
    }

    #{$block-name}__link {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      background: transparent;
      color: #0077E5;
    }

    #{$block-name}__content-item {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

