// В этом файле должны быть стили для БЭМ-блока top-offers, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-offer {

  $block-name:                &; // #{$block-name}__element

  padding: 0 !important;
  transform: translateY(-333px);
  margin-bottom: -333px;

  @media (max-width: ($screen-md - 1)) {
    transform: translateY(-120px);
    margin-bottom: -120px;
  }
  @media (max-width: ($screen-sm - 1)) {
    transform: translateY(-105px);
    margin-bottom: -105px;
  }
}
