// В этом файле должны быть стили для БЭМ-блока certificate, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.certificate {

  $block-name:                &; // #{$block-name}__element

  &__carousel {
    padding-bottom: 80px;
  }

  &__item {
    background: #fff;
    border-radius: 10px;
    padding: 25px 27px;
  }
}
