// В этом файле должны быть стили для БЭМ-блока stat, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.stat {

  $block-name: &; // #{$block-name}__element

  padding-top: 0;

  .stat {
    &__row {
      @include row;
    }

    &__card {
      @include col();
      @include col(xl, 4);
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__card-val {
      color: #0077E5;
      font-family: 'Panton';
      font-weight: normal;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 25px;

      .num {
        font-size: 70px;
        line-height: 1;
        font-weight: bold;
      }

      @media (max-width: ($screen-md - 1)) {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        .num {
          font-size: 40px;
          margin-right: 5px;
        }
      }
    }

    &__card-caption {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;

      @media (max-width: ($screen-lg - 1)) {
        font-size: 18px;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    padding-bottom: 60px;
  }
}
