// В этом файле должны быть стили для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro {

  $block-name:                &; // #{$block-name}__element

  height: 922px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__overlay {
    background: rgba(40, 48, 60, 0.85);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__inner {
    position: relative;
    color: #fff;
    text-align: center;
  }

  &__title {
    margin: 65px auto 18px auto;
    font-family: $font-family--headings;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    max-width: 224px;

    @media (min-width: $screen-md) {
      font-size: 48px;
      line-height: 60px;
      max-width: 682px;
      margin: 100px auto 22px auto;
    }

    @media (min-width: $screen-lg) {
      font-size: 60px;
      line-height: 72px;
      max-width: 682px;
      margin: 165px auto 18px auto;
    }
  }

  &__caption {
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    max-width: 236px;
    color: #9CA9BC;

    @media (min-width: $screen-md) {
      max-width: 600px;
      font-size: 30px;
      line-height: 44px;
    }
  }

  // @media (max-width: $screen-lg) {
  //   height: 77.5vh;
  //   min-height: 460px;
  // }
  @media (max-width: ($screen-md - 1)) {
    height: 77.5vh;
    min-height: 460px;
  }
  @media (min-width: $screen-md) {
    height: 71vh;
    min-height: 720px;
  }
  @media (min-width: $screen-lg) {
    height: calc(100vh - 80px);
    min-height: 840px;
  }
}
