// В этом файле должны быть стили для БЭМ-блока tags, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tags {

  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    background: #fff;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 10px 20px;
    display: flex;
  }

  &__icon {}

  &__name {
    color: #0760A0;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
  }
}
